.u-section-1 .u-sheet-1 {
  min-height: 600px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 70px auto 70px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 510px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none;
  font-weight: 700;
  margin: 20px auto 0 0;
  padding: 10px 32px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 510px;
}

.u-section-1 .u-shape-1 {
  height: 421px;
  width: 472px;
  margin: 39px 52px 0 auto;
}

.u-section-1 .u-image-1 {
  width: 457px;
  height: 423px;
  margin: -459px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 495px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 421px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 421px;
  }

  .u-section-1 .u-shape-1 {
    height: 332px;
    width: 369px;
    margin-right: 15px;
  }

  .u-section-1 .u-image-1 {
    width: 364px;
    height: 336px;
    margin-top: -390px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 425px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 322px;
  }

  .u-section-1 .u-shape-1 {
    height: 243px;
    width: 276px;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 276px;
    height: 255px;
    margin-top: -301px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 319px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 453px;
  }

  .u-section-1 .u-shape-1 {
    height: 310px;
    width: 332px;
    margin-right: 70px;
  }

  .u-section-1 .u-image-1 {
    width: 341px;
    height: 310px;
    margin-top: -368px;
    margin-left: 70px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 201px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 285px;
  }

  .u-section-1 .u-shape-1 {
    height: 253px;
    width: 300px;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 281px;
    height: 259px;
    margin-top: -311px;
    margin-left: 0;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 964px;
}

.u-section-2 .u-group-1 {
  width: 507px;
  min-height: 659px;
  height: auto;
  margin: 139px auto 0 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 40px 20px 40px 0;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  letter-spacing: normal;
  font-weight: 700;
  margin: 71px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  font-style: normal;
  margin: 31px 0 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 625px;
  margin: -710px 0 -79px auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 445px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: 1px auto 0;
}

.u-section-2 .u-btn-1 {
  text-transform: uppercase;
  align-self: center;
  background-image: none;
  border-style: none;
  margin: 25px auto 0;
  padding: 5px 31px 6px 30px;
}

.u-section-2 .u-text-3 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.875rem;
  margin: 25px auto 0;
}

.u-section-2 .u-text-4 {
  font-style: italic;
  margin: 17px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 362px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 30px 28px;
}

.u-section-2 .u-icon-2 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.875rem;
  margin: 20px auto 0;
}

.u-section-2 .u-text-6 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 362px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-7 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.875rem;
  margin: 20px auto 0;
}

.u-section-2 .u-text-8 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 430px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-icon-4 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-btn-2 {
  text-transform: uppercase;
  align-self: center;
  background-image: none;
  margin: 25px auto 0;
  padding: 5px 31px 6px 30px;
}

.u-section-2 .u-text-9 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.875rem;
  margin: 25px auto 0;
}

.u-section-2 .u-text-10 {
  font-style: italic;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 923px;
  }

  .u-section-2 .u-group-1 {
    width: 358px;
    min-height: 665px;
    height: auto;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.4375rem;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 565px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 443px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-icon-1 {
    color: rgb(116, 133, 221) !important;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.625rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 377px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-icon-2 {
    color: rgb(116, 133, 221) !important;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.625rem;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 377px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-icon-3 {
    color: rgb(116, 133, 221) !important;
  }

  .u-section-2 .u-text-7 {
    font-size: 1.625rem;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 444px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-icon-4 {
    color: rgb(116, 133, 221) !important;
  }

  .u-section-2 .u-text-9 {
    font-size: 1.625rem;
  }

  .u-section-2 .u-text-10 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1344px;
  }

  .u-section-2 .u-group-1 {
    min-height: 394px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-right: 30px;
    padding-bottom: 0;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 438px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 372px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 372px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 438px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1604px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2043px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-7 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-9 {
    font-size: 1.5rem;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 984px;
}

.u-section-3 .u-shape-1 {
  width: 468px;
  left: 202px;
  right: auto;
  background-image: none;
}

.u-section-3 .u-image-1 {
  width: 547px;
  height: 511px;
  margin: 95px auto 0 123px;
}

.u-section-3 .u-group-1 {
  width: 516px;
  min-height: 304px;
  height: auto;
  margin: -76px 40px 0 auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-style: normal;
  font-size: 2.25rem;
  margin: 0;
}

.u-section-3 .u-btn-1 {
  font-size: 1.125rem;
  font-weight: 700;
  background-image: none;
  margin: 21px auto 0 0;
}

.u-section-3 .u-shape-2 {
  width: 204px;
  height: 204px;
  background-image: none;
  margin: -758px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-shape-1 {
    width: 328px;
    left: auto;
    right: 190px;
  }

  .u-section-3 .u-image-1 {
    width: 603px;
    height: 479px;
    margin-top: 105px;
    margin-left: 50px;
  }

  .u-section-3 .u-group-1 {
    margin-top: -63px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-shape-2 {
    width: 158px;
    height: 158px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1031px;
  }

  .u-section-3 .u-shape-1 {
    width: 285px;
    right: 106px;
  }

  .u-section-3 .u-image-1 {
    width: 477px;
    height: 394px;
    margin-top: 167px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-3 .u-group-1 {
    width: 477px;
    min-height: 379px;
    margin-top: 36px;
    margin-right: 24px;
  }

  .u-section-3 .u-shape-2 {
    margin-top: -878px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 907px;
  }

  .u-section-3 .u-shape-1 {
    width: 254px;
    left: 0;
    right: auto;
  }

  .u-section-3 .u-image-1 {
    width: 317px;
    height: 262px;
    margin-top: 125px;
  }

  .u-section-3 .u-group-1 {
    width: 317px;
    min-height: 399px;
    margin-right: 0;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-shape-2 {
    width: 124px;
    height: 124px;
    margin-top: -767px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 739px;
}

.u-section-4 .u-text-1 {
  font-style: normal;
  font-size: 3.75rem;
  font-weight: 700;
  margin: 41px auto 0 0;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1140px;
  margin: 84px 0 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 441px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-3 {
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 3.75rem;
  line-height: 1;
  margin: 40px auto 0 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
  margin: 50px auto 0 0;
  padding: 14px 31px 16px 30px;
}

.u-section-4 .u-icon-1 {
  color: rgb(17, 17, 17) !important;
}

.u-section-4 .u-text-4 {
  font-size: 0.875rem;
  margin: 57px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 488px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 25px;
}

.u-section-4 .u-text-5 {
  font-size: 1.5rem;
  margin: 0 auto 0 5px;
}

.u-section-4 .u-text-6 {
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 3.75rem;
  line-height: 1;
  margin: 40px auto 0 5px;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
  border-style: none;
  margin: 50px auto 0 5px;
  padding: 14px 31px 16px 30px;
}

.u-section-4 .u-icon-2 {
  color: rgb(17, 17, 17) !important;
}

.u-section-4 .u-text-7 {
  font-size: 0.875rem;
  margin: 57px 5px 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 488px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-text-8 {
  font-size: 1.5rem;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-9 {
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 3.75rem;
  line-height: 1;
  margin: 40px auto 0 0;
}

.u-section-4 .u-btn-3 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
  border-style: none;
  margin: 49px auto 0 0;
  padding: 14px 31px 16px 30px;
}

.u-section-4 .u-icon-3 {
  color: rgb(17, 17, 17) !important;
}

.u-section-4 .u-text-10 {
  font-size: 0.875rem;
  margin: 58px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 845px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 364px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 29px;
    padding-right: 29px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 70px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 30px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 47px;
    margin-right: 3px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 402px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 27px;
    padding-right: 27px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 70px;
  }

  .u-section-4 .u-btn-2 {
    margin-top: 30px;
    padding: 15px 23px;
  }

  .u-section-4 .u-text-7 {
    margin-top: 77px;
    margin-right: 6px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 402px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 27px;
    padding-right: 27px;
  }

  .u-section-4 .u-text-9 {
    width: auto;
    margin-top: 70px;
  }

  .u-section-4 .u-btn-3 {
    margin-top: 30px;
    padding-right: 25px;
    padding-left: 25px;
  }

  .u-section-4 .u-text-10 {
    margin-top: 48px;
    margin-right: 6px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 849px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.75rem;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-4 .u-btn-1 {
    font-size: 0.875rem;
    padding: 15px 14px 15px 12px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 30px;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-4 .u-text-5 {
    font-size: 1.25rem;
    margin-left: 1px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 73px;
  }

  .u-section-4 .u-btn-2 {
    font-size: 0.875rem;
    margin-left: auto;
    padding: 14px 18px 16px 16px;
  }

  .u-section-4 .u-text-7 {
    margin-top: 30px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-8 {
    font-size: 1.25rem;
  }

  .u-section-4 .u-text-9 {
    margin-top: 73px;
  }

  .u-section-4 .u-btn-3 {
    font-size: 0.875rem;
    padding-right: 13px;
    padding-left: 12px;
  }

  .u-section-4 .u-text-10 {
    width: auto;
    margin-top: 30px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 706px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3.4375rem;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 50px;
  }

  .u-section-4 .u-btn-1 {
    font-size: 1.125rem;
    padding-right: 29px;
    padding-bottom: 16px;
    padding-left: 28px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 5px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 70px;
  }

  .u-section-4 .u-btn-2 {
    font-size: 1.125rem;
    margin-left: 5px;
    padding-right: 21px;
    padding-bottom: 15px;
    padding-left: 20px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 2px;
    margin-left: 5px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-btn-3 {
    font-size: 1.125rem;
    padding: 15px 23px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 2.75rem;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 0;
  }
}.u-section-5 {
  background-image: none;
  min-height: 568px;
}

.u-section-5 .u-shape-1 {
  height: 230px;
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-5 .u-group-1 {
  min-height: 448px;
  width: 965px;
  margin: -320px auto -30px calc(((100% - 1140px) / 2) + 88px);
}

.u-section-5 .u-container-layout-1 {
  padding: 60px 46px 60px 60px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 4px 570px 0 0;
}

.u-section-5 .u-btn-1 {
  border-style: none;
  font-size: 1.25rem;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-5 .u-btn-2 {
  border-style: none;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-5 .u-text-2 {
  font-weight: 400;
  margin: 20px 570px 0 0;
}

.u-section-5 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 176px;
  min-width: 112px;
  margin: 30px auto 0 0;
}

.u-section-5 .u-icon-4 {
  height: 100%;
}

.u-section-5 .u-icon-5 {
  height: 100%;
}

.u-section-5 .u-icon-6 {
  height: 100%;
}

.u-section-5 .u-icon-7 {
  height: 100%;
}

.u-section-5 .u-form-1 {
  height: 307px;
  margin: -295px 0 0 394px;
}

.u-section-5 .u-btn-3 {
  width: 100%;
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-weight: 600;
}

@media (max-width: 1199px) {
  .u-section-5 .u-group-1 {
    width: 940px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-5 .u-text-1 {
    margin-right: 545px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 545px;
  }

  .u-section-5 .u-form-1 {
    margin-left: 369px;
  }
}

@media (max-width: 991px) {
  .u-section-5 {
    min-height: 504px;
  }

  .u-section-5 .u-group-1 {
    min-height: 384px;
    width: 720px;
    margin-left: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding: 30px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 19px;
    margin-right: 371px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 371px;
  }

  .u-section-5 .u-form-1 {
    height: 287px;
    margin-left: 321px;
  }
}

@media (max-width: 767px) {
  .u-section-5 {
    min-height: 833px;
  }

  .u-section-5 .u-group-1 {
    min-height: 713px;
    width: 540px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 231px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 231px;
  }

  .u-section-5 .u-form-1 {
    margin-top: 44px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-group-1 {
    width: 340px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 71px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 71px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 596px;
}

.u-section-6 .u-list-1 {
  margin-top: 50px;
  margin-bottom: 0;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  min-height: 336px;
  grid-gap: 10px 10px;
}

.u-section-6 .u-list-item-1 {
  background-image: none;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-image-1 {
  width: 253px;
  height: 240px;
  margin: 26px auto 0;
}

.u-section-6 .u-btn-1 {
  border-style: none none solid;
  font-weight: 700;
  margin: 142px 197px 0 0;
  padding: 0;
}

.u-section-6 .u-icon-1 {
  color: rgb(227, 164, 97) !important;
}

.u-section-6 .u-list-item-2 {
  background-image: none;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-image-2 {
  width: 253px;
  height: 240px;
  margin: 26px auto 0;
}

.u-section-6 .u-btn-2 {
  border-style: none none solid;
  font-weight: 700;
  margin: 142px 197px 0 0;
  padding: 0;
}

.u-section-6 .u-icon-2 {
  color: rgb(227, 164, 97) !important;
}

.u-section-6 .u-image-3 {
  width: 253px;
  height: 253px;
  margin: -442px auto 0 156px;
}

.u-section-6 .u-text-1 {
  font-weight: 600;
  font-size: 2.75rem;
  margin: 16px 605px 0 30px;
}

.u-section-6 .u-text-2 {
  margin: -39px 351px 125px auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
    min-height: 277px;
  }

  .u-section-6 .u-image-1 {
    height: 241px;
  }

  .u-section-6 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-6 .u-image-2 {
    height: 241px;
  }

  .u-section-6 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.5rem;
    margin-right: 435px;
    margin-left: 0;
  }

  .u-section-6 .u-text-2 {
    margin-right: 289px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }

  .u-section-6 .u-text-1 {
    margin-right: 215px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 221px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-6 .u-text-1 {
    margin-right: 35px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 166px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-image-3 {
    margin-left: 87px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    margin-right: 105px;
  }
}